<div id="main-list" class="music-list data-box">
  <div class="list-item list-head">
    <span class="music-album">专辑</span>
    <span class="auth-name">歌手</span>
    <span class="music-name">歌曲</span>
  </div>

  <div class="list-item text-center" id="list-loading" *ngIf="loadStatus==1">播放列表加载中...</div>
  <div class="list-item text-center" id="list-loaded" *ngIf="loadStatus==2">全都加载完了</div>
  <div class="list-item text-center" id="list-loadNothing" *ngIf="loadStatus==-1">可能是个假列表，什么也没有</div>
  <div class="list-item text-center  list-clickable" title="点击加载更多数据" id="list-loadMore" *ngIf="loadStatus==3">
    点击加载更多...
  </div>
  <div class="list-item text-center list-clickable" id="list-foot" *ngIf="loadStatus==4">清空列表</div>

  <div class="list-item" *ngFor="let song of songList;let i=index" [attr.data-no]="i" (dblclick)="playOrPause(song)"
       [ngClass]="{'list-playing':song.id==currentPlayingSongId&&!playData.paused}" [attr.id]="'s'+song.id">
    <span class="list-num">{{i+1}}</span>
    <span class="list-mobile-menu"></span>
    <span class="music-album">{{song.album }}</span>
    <span class="auth-name"> {{song.artist}} </span>
    <span class="music-name">
      <span class="music-name-cult">{{song.name}}</span>
      <div class="list-menu" [attr.data-no]="i">
        <span class="list-icon icon-play" data-function="play" title="点击播放这首歌" (click)="playOrPause(song)"></span>
        <span class="list-icon icon-download" data-function="download" title="点击下载这首歌"></span>
        <span class="list-icon icon-share" data-function="share" title="点击分享这首歌"></span>
      </div>
    </span>
  </div>
</div>
