<nz-layout id="main">
  <div id="blur-img">
    <div class="blur-mask">
    </div>
  </div>
  <nz-header class="bg-transparent">
    <app-head></app-head>
  </nz-header>
  <nz-content class="content">
    <nz-layout class="bg-transparent">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-sider class="bg-transparent">sider</nz-sider>
    </nz-layout>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
<!-- 中间主体区域 -->
<!--<div class="center">
  <div class="container">
    &lt;!&ndash;按钮菜单&ndash;&gt;
    <app-menu></app-menu>
    <app-song-info></app-song-info>
  </div>
</div>-->
<!-- 播放器底部区域 -->
<!--<div class="footer">
  <app-player></app-player>
</div>-->
